<!-- 不蒜子游客统计 -->
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
                <p>Powered by <a href="//hexo.io/" target="_blank">Hexo</a>. Theme by <a href="//github.com/ppoffice" target="_blank">PPOffice</a>
                	<span id="busuanzi_container_site_pv">
    					本站总访问量<span id="busuanzi_value_site_pv"></span>次
					</span>
        			<span id="busuanzi_container_site_uv">
		  				你是本站第<span id="busuanzi_value_site_uv"></span>个访客
					</span>
                </p>
            </div>
        </div>
    </div>
</footer>